@font-face {
  font-family: "Ghibo Talk";
  src: local("Ghibo Talk"), url("./assets/font/Ghibo\ Talk.otf");
}
@font-face {
  font-family: "Cheese";
  src: local("Cheese Burger"), url("./assets/font/Cheese\ Burger.otf");
}
@font-face {
  font-family: "Starborn";
  src: local("Starborn"), url("./assets/font/Starborn.ttf") format("truetype");
}

header {
  padding: 1rem;
  color: white !important;
  font-family: "Ghibo Talk";
  text-align: center;
}
header h1 {
  font-size: 3rem;
}

header img {
  width: 80px;
}
.cardcon{
  font-family: "Cheese";
  
}
.cardcon button{
  font-family: "Starborn";
  transition: transform 0.5s ease;}
  .cardcon button:hover{
    transform: scale(1.03);
  }


.card-full {
  width: 200px;
  height: 250px;
  margin-bottom: 1rem;
  border: 2px solid black;
}

.cardImg {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.cardImg:hover {
  transform: scale(1.03);
}

.position-absolute{
  top: 20px;
  height:50px;
  width:100px;

}